* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    
}

body{
    min-height: 100vh;
    background-color: rgb(37, 95, 146);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    width: 420px;
    height: 640px;
    background-color: #fff;
    box-shadow: 0px 20px 60px 0px rgba(170,196,219);
    border-radius: 25px;
    overflow: hidden;
    display: grid;
    grid-template-columns: ifr;
    grid-template-rows: 1fr auto 20%;
}

.main{
    position: relative;
    background: url(./sky-4576072_1920.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 30px;
    padding-bottom: 80px;
    transition: padding-bottom 0.4s;
}

.main p{
    position: relative;
    color: aliceblue;
    font-size: 1.2em;
    letter-spacing: 1px;
    padding: 0px 0px 0px 0px;
}

p.name{
    font-size: 2.5em;
    letter-spacing: 1.5px;
    font-weight: bold;
    margin-bottom: 15px;
}

p.subname{
    font-size: 1.2em;
    letter-spacing: 1.8px;
    font-weight: thin;
    margin-bottom: 10px;
}

.more{
    display: flex;
    padding: 0 2em;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
    background-color: rgb(254, 255, 199);
    font-size: 1.1em;
    letter-spacing: 0.5px;
}

.info{
    position:relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.info .social-links{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
    margin:40px 30px 20px 40px;
    font-size: 35px;
    text-decoration: none;
}

.info button{
    background-color: #ffc107;
    border: none;
    border-radius:50% ;
    color: #fff;
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.4);
    width: 60px;
    height: 60px;
    font-size: 1.5em;
    position: absolute;
    top: 0;
    left: 50%;
    cursor: pointer;
    transform: translate(-50%, -50%);
}

.info button i.fa-minus{
    display: none;
}

.more{
    height: 0;
    overflow: hidden;
    transition: height 0.4s;
}

.card.opened .more{
    height: 150px;
}

.card.opened .main{
    padding-bottom: 40px;
    box-shadow: 0 0 30px #fff;
}

.card.opened .info{
    box-shadow: 0 0 25px #c9d1d4;
}

.card.opened i.fa-minus{
    display: block;
}

.card.opened i.fa-plus{
    display: none;
}

.card.opened .info button{
    width: 60px;
    height: 60px;
    font-size: 1.3em;
}